body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #0077cc;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
